.selector {
  display: flex;
  align-items: center;
  padding: 20px 50px;

  label,
  input {
    font-size: 1.5em;
  }

  label,
  button {
    margin-right: 20px;
  }
  /** TODO: Use loader inside the search bar **/
  input,
  button,
  select {
    background-color: #282c34;
    border: 1px solid white;
    color: white;
    height: 30px;
  }

  input {
    width: 350px;
    padding-left: 10px;
    border-right: 0;
  }

  button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding: 1px 10px 1px 10px;
    box-sizing: content-box;
    border-left: 0;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: #282c34;
    }
  }

  select {
    width: 100px;
  }
}
